@import url("https://fonts.googleapis.com/css2?family=Sriracha&family=Open+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sriracha", sans-serif;
}

table {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
body::before {
  background: fixed no-repeat
    url(https://images.unsplash.com/photo-1729828175177-e40523d2e554?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  /**/
  position: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  z-index: -1;
  filter: opacity(0.15);
}

.picked {
  transform: translateY(0);
  opacity: 1;
  z-index: 1;
  transition:
    0.25s linear transform,
    0.25s linear opacity;
}
@keyframes spin {
  0% {
    transform: perspective(1000px) rotateX(0deg);
  }
  100% {
    transform: perspective(1000px) rotateX(-360deg);
  }
}
